---
import Social from './Social.astro';

const platform = "github";
const username = "wlmchrstn";
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Learn more about my projects on <Social platform="github" username="wlmchrstn" />!</p>
  <p><Social platform="instagram" username="wlmchrstn_" /></p>
  <p><Social platform="github" username="wlmchrstn" /></p>
  <p><Social platform="youtube" username="@williamchristian6704" /></p>
</footer>
